@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1fcytl');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1fcytl#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1fcytl') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1fcytl') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1fcytl##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-education {
  &:before {
    content: $icon-education; 
  }
}
.icon-transport {
  &:before {
    content: $icon-transport; 
  }
}
.icon-amenagement {
  &:before {
    content: $icon-amenagement; 
  }
}
.icon-culture {
  &:before {
    content: $icon-culture; 
  }
}
.icon-nature {
  &:before {
    content: $icon-nature; 
  }
}
.icon-numerique {
  &:before {
    content: $icon-numerique; 
  }
}
.icon-sante {
  &:before {
    content: $icon-sante; 
  }
}
.icon-tourisme {
  &:before {
    content: $icon-tourisme; 
  }
}
.icon-where {
  &:before {
    content: $icon-where; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-tel_contact {
  &:before {
    content: $icon-tel_contact; 
  }
}
.icon-tel {
  &:before {
    content: $icon-tel; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-print {
  &:before {
    content: $icon-print; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-full_arrow_right {
  &:before {
    content: $icon-full_arrow_right; 
  }
}
.icon-full_arrow_left {
  &:before {
    content: $icon-full_arrow_left; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-connexion {
  &:before {
    content: $icon-connexion; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-arrow_up {
  &:before {
    content: $icon-arrow_up; 
  }
}
.icon-arrow_right {
  &:before {
    content: $icon-arrow_right; 
  }
}
.icon-arrow_left {
  &:before {
    content: $icon-arrow_left; 
  }
}
.icon-arrow_down {
  &:before {
    content: $icon-arrow_down; 
  }
}

