$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-education: "\e918";
$icon-transport: "\e919";
$icon-amenagement: "\e902";
$icon-culture: "\e906";
$icon-nature: "\e909";
$icon-numerique: "\e90a";
$icon-sante: "\e90f";
$icon-tourisme: "\e917";
$icon-where: "\e900";
$icon-twitter: "\e901";
$icon-tel_contact: "\e903";
$icon-tel: "\e904";
$icon-search: "\e905";
$icon-print: "\e907";
$icon-pin: "\e908";
$icon-menu: "\e90b";
$icon-full_arrow_right: "\e90c";
$icon-full_arrow_left: "\e90d";
$icon-facebook: "\e90e";
$icon-connexion: "\e910";
$icon-close: "\e911";
$icon-check: "\e912";
$icon-arrow_up: "\e913";
$icon-arrow_right: "\e914";
$icon-arrow_left: "\e915";
$icon-arrow_down: "\e916";

