.actus{
    .article{
        padding: 20px;
        .cat{
            position: absolute;
            top: 30px;
            left: 10px;
            padding: 8px 10px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 1.5px;
        }
        .cadre{
            overflow: hidden;
            position: relative;
        }
        .illustration{
            height: 230px;
            background-size: cover;
            background-position: center;
            transition: all 0.5s ease;
        }
        .culture{
            background: $orange;
        }
        .patrimoine{
            background: $beige;
        }
        .nomarticle{
            font-weight: bold;
            font-size: 17px;
            padding-top: 15px;
            margin-bottom: 5px !important;
            color: $black;
        }
        .desc{
            font-size: 15px;
            color: $texte;
            margin-bottom: 5px !important;
        }
        .desc, a{
            font-family: 'CenturyGothic';
        }
        p{
            padding-left: 20px;
        }
        i{
            font-size: 0.6em !important;
        }
        .datearticle{
            position: absolute;
            bottom: 16px;
            left: 16px;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 1.5px;
            padding: 0 !important;
            margin: 0 !important;
        }
        .lireplus{
            color: $blue;
        }
        &:hover{
            .illustration{
                transform: scale(1.2);
            }
            .lireplus{
                color: $black;
            }
        }
    }

}

.page-article{
    h3{
        padding-top: 50px;
        padding-bottom: 30px;
    }
}
.contenu-article{
    padding-top: 250px;
    width: 85%;
    margin: 0 auto;
    .titrearticle{
        letter-spacing: 3px;
        font-weight: bold;
        text-transform: initial;
        font-size: 22px;
        padding-top: 60px;
        &:after{
            border: none;
        }
    }
    .parafarticle{
        letter-spacing: 1px;
        font-weight: 300;
        text-align: justify;
        font-size: 14px;
    }
    img{
        max-width: 100%;
    }
    .imagesduo{
        padding: 15px;
        img{
            margin: 0 3px;
        }
    }
    .imagesolo{
        img{
            width: 100%;
            height: auto;
        }
    }
    .partnersarticle{
        margin: 0 auto;
    }
}

#commentform{
    display: none;
    margin-top: 50px;
}

#com-publish{
    margin-top: 50px;
}
.commentaires{
    background: $pastel;
    margin-top: 100px;
    padding: 0 30px;
    padding-bottom: 100px;
    position: relative;
    .com{
        border-bottom: solid 1px $greylight;
        padding-top: 20px;
        .entetecom{
            font-size: 14px;
            padding-left: 5px;
            font-weight: 600;
            .datecom{
                font-size: 11px;
            }
            p{
                margin-right: 20px;
            }
        }
        .contenucom{
            font-weight: 300;
            font-size: 12px;
            line-height: 1.2;
        }
    }
    .comimage{
        .imagecom{
            background-position: center;
            background-size: cover;
            height: 100px;
            width: 40%;
            margin: 0 auto;
        }
        .contenucom{
            padding-top: 10px;
            padding-left: 20px;
        }
    }
    .com:last-child{
        border: none;
    }
    .btncom{
        position: absolute;
        bottom: 30px;
        display: block;
        margin: 0 auto;
        background: $texte;
        font-size: 12px;
        border: none;
        padding: 13px 50px;
        border-radius: 10px;
        transition: all 0.3s ease;
        width: 250px;
        right: 0;
        left: 0;
        &:hover{
            background: $blue;
            color: $white;
        }
    }

    textarea{
        width: 100%;
        background: white;
        padding: 15px;
        height: 200px;
        border: none;
        border-radius: 5px;

        &:focus{
            box-shadow: none;
            border: thin solid $blue;
        }
    }
}

@media screen and (min-width: 530px){
    .commentaires{
        .btncom{

        }
    }
}
@media screen and (max-width: 767px){
    .contenu-article{
        .partnersarticle{
            img{
                margin-top: 50px;
                width: 40%;
            }
        }
    }
}
@media screen and (min-width: 768px){
    .commentaires{
        .comimage{
            .imagecom{
                width: 18%;
            }
            .contenucom{
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 991px){
    .contenu-article{
        width: 60%;
    }
}

@media screen and (min-width: 1250px){
    .commentaires{
        padding: 0 350px;
        padding-bottom: 100px;
        .btncom{

        }
    }
}