.liste-blocs-assistance, .actus{
    padding: 0 100px;
    .filtres{
        padding-top: 50px;
        padding-bottom: 50px;
        ul{
            padding-left: 0;
        }
        li{
            cursor: pointer;
            list-style: none;
        }
    }
    .blocs-assistance{
        .blocassist{
            padding: 20px;
            .bloc{
                position: relative;
                min-height: 250px;
                border: solid 1px $greylight;
                background-position: center;
                background-size: cover;
                padding: 30px;
                .cat{
                    position: absolute;
                    top: 15px;
                    left: -15px;
                    z-index: 1;
                }
                i{
                    font-size: 3em;
                    display: block;
                    margin-bottom: 10px;
                    z-index: 1;
                    position: relative;
                }
                .titrebloc{
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 1.1;
                    z-index: 1;
                    position: relative;
                    max-width: 100%;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.3);
                    transition: all 0.3s ease;
                }
                &:hover{
                    .icon-amenagement{
                        color: #75ccf2;
                    }
                    .icon-sante{
                        color: #f5b1a8;
                    }
                    .icon-numerique{
                        color: #9998c8;
                    }
                    .icon-culture{
                        color: #e85c37;
                    }
                    .icon-nature{
                        color: #c8d22c;
                    }
                    .icon-tourisme{
                        color: #abd19d;
                    }
                    &:after{
                        background: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
}

.voirie{

    .solo{
        padding: 0 180px !important;
        @media (max-width: 991px){
            padding: 0 100px !important;
            @media (max-width: 767px){
                padding: 0 50px !important;
            }
        }
    }
    .contenuduo{
        padding: 0 50px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        h2{
            padding-bottom: 30px;
        }
        .liste-services{
            padding-top: 20px;
        }
        .service{
            position: relative;
            margin-bottom: 40px;
            .image{
                border-radius: 5px;
                background-position: center;
                background-size: cover;
                width: 20%;
                height: 150px;
                position: relative;
            }
            .paragraphe{
                text-align: left;
                font-size: 15px;
                width: 78%;
                padding-left: 15px;
                .titreservice{
                    font-weight: 800;
                    line-height: 1.2;
                    color: $black;
                }
                .descservice{
                    line-height: 1.2;
                    font-weight: 300;
                    margin-top: 10px;
                }
            }
            .liresuite{
                position: absolute;
                right: 15px;
                bottom: 0;
                color: $blue;
                &:hover{
                    color: $black;
                }
            }
            &:hover{
                .image:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    background: rgba(0,0,0,0.6);
                }
            }
        }
        .liste-documents{
            padding-top: 20px;
            .document{
                padding: 10px 40px;
                .blocimg{
                    border-radius: 5px;
                    background: $greyfiche;
                    padding: 15px 20px;
                }
                .descdoc{
                    color: rgba(0,0,0,0.6);
                    font-family: 'CenturyGothic';
                    font-size: 13px;
                    line-height: 1.1;
                    margin-top: 10px;
                }
                a{
                    border-radius: 50px;
                    border: solid 2px $blue;
                    color: $blue;
                    padding: 4px 40px;
                    font-size: 13px;
                    transition: all 0.3s ease;
                    &:hover{
                        background: $blue;
                        color: $white;
                    }
                }
            }
        }
    }
    .contenutrio{
        padding: 0 80px;
        padding-top: 60px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .actus .cat{
            margin: 0;
            width: auto;
        }
        .articles{
            padding-top: 40px;
        }
        .actujuri, .minislider{
            padding-top: 35px;
        }
        .juridique{
            color: $black;
            .date{
                font-weight: 700;
                font-size: 10px;
                letter-spacing: 1.5px;
            }
            .titre{
                font-weight: 600;
                font-size: 14px;
            }
            .desc{
                color: rgba(0,0,0, 0.6);
            }
            a{
                color: $blue;
                transition: all 0.3s ease;
                &:hover{
                    color: $black;
                }
            }
        }
        .blocslider{
            position: relative;
        }
        .minislider{
            .slide{
                background: $corail;
                height: 250px;
                font-weight: 900;
                font-size: 20px;
                transition: all 0.3s ease;
                a{
                    padding: 50px;
                    width: 100%;
                    height: 100%;
                    p{
                        font-weight: 800;
                    }

                }
                &:hover{
                    background: darken($corail, 10%);
                }
            }
        }
        .navminislider{
            .next, .prev{
                position: absolute;
                color: $black;
                font-weight: 900;
                font-size: 1.2em;
                top: 52%;
                cursor: pointer;
            }
            .next{
                right: 25px;
            }
            .prev{
                left: 25px;
            }
        }
    }
}

.contenu-aide{
    padding: 0 230px;
    padding-top: 250px;
    padding-bottom: 80px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    a{
        padding: 20px;
        height: 400px;
    }
    .bloc{
        background-position: center;
        background-size: cover;
        position: relative;
        height: 100%;
        width: 100%;
        h3, h2{
            z-index: 1;
            position: relative;
            font-weight: 800;
            font-size: 24px;
            &:after{
                border: none;
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            transition:all 0.3s ease;
        }
        &:hover{
            &:after{
                background: rgba(0,0,0,0.8);
            }
        }
    }
}


@media screen and (max-width: 767px){
    .liste-blocs-assistance, .actus{
        .filtres{
            padding-top: 0;
            li{
                width: 40%;
                text-align: center;
                margin: 20px 10px;
                margin-bottom: 0;
            }
        }
    }
    .voirie{
        .contenuduo{
            .service{
                .image{
                    width: 100%;
                }
                .paragraphe{
                    width: 100%;
                    padding: 0;
                }
            }
        }
        .contenutrio{
            padding: 0 20px;
            padding-top: 50px;
            .contenuright{
                padding-top: 50px;
            }
            .caspratiques{
                margin-top: 50px;
            }
        }
    }
    .contenu-aide{
        padding: 0 30px;
        padding-top: 300px;
    }
}
@media screen and (max-width: 991px){
    .liste-blocs-assistance, .actus{
        padding: 0 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .voirie{
        .contenutrio{
            .contenuright{
                margin-top: 30px;
            }
        }
    }
}
@media screen and (min-width: 992px){
    .liste-documents{
        border-left: solid 1px $grey;
    }
    .voirie{
        .juridique, .caspratiques{
            flex: 0 0 50%;
        }
    }
}
@media screen and (min-width: 1250px){
    .filtres.actus{
        width: 65%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1250px){
    .filtres{
        li{
            margin-top: 20px;
        }
    }
}

.full{
    flex: 0 0 100% !important;
}