.contenucontact{
    width: 90%;
    padding-top: 210px;
}
.contenulogin{
    width: 90%;
    padding-top: 200px;
    .formconnect{
        order: 1;
    }
    .illustration{
        order:2;
    }
}
.contenucontact, .contenulogin, .form{
    margin: 0 auto !important;
    label, p{
        font-size: 14px;
    }
    .infoscontact{
        h2{
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 20px !important;
            padding-top: 20px;
            &:after{
                border: none;
            }
        }
        p{
            font-weight: 300;
            font-size: 15px;
            padding-left: 20px;
            margin-bottom: 0.5rem !important;
        }
        .grey{
            color: $grey;
            font-size: 1.5em;
        }
        .blue{
            color: $white;
            background: $blue;
            padding: 5px;
            border-radius: 50px;
            font-size: 1em;
            margin: 0 10px;
        }
        .marge{
            margin: 20px 0;
        }
        .margebot{
            margin-bottom: 30px;
        }
    }
    .illustration{
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $pastel;
        height: 300px;
    }
    .formulairecontact, .formconnect, .formsign{
        font-weight: 300;
        font-size: 12px;
        color: $black;
        position: relative;
        padding-bottom: 50px;
        padding-top: 50px;
        .input{
            padding: 15px 45px;
            input:not([type="checkbox"]){
                padding: 13px 15px;
                background: #eee;
                border-radius: 5px;
                border: none;
                width: 100%;
            }
            label{
                text-align: left;
            }
        }
        .check{
            padding: 10px 30px;
        }
        .check{
            text-align: left;
            position: relative;
            margin: 10px 0;
            p{
                margin-bottom: 0 !important;
                margin-left: 35px;
            }
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 20px;
                width: 20px;
                z-index: 2;
                transform: scale(1.5);
            }
        }
        .multicheck{
            margin: 20px 0;
        }
        .checkmark {
            position: absolute;
            top: 12px;
            left: 30px;
            height: 18px;
            width: 18px;
            background-color: #eee;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
        .checkmark:after {
            left: 7px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid $grey;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        .alertes:after{
            left: 7px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        .message{
            padding: 10px 15px;

            label{
                margin-left: 15px;
            }
        }
        textarea{
            width: 100%;
            background: $pastel;
            padding: 15px;
            height: 200px;
            border: none;
            border-radius: 5px;
            resize: none;
        }
        .btnvalider{
            background: $black;
            padding: 12px 90px;
            border: none;
            border-radius: 5px;
            position: absolute;
            right: 30px;
            bottom: 0;
            transition: all 0.3s ease;
            &:hover{
                background: $blue;
            }
        }
        .btnvalider.centre{
            position: initial;
        }
        .blue{
            font-weight: 700;
            letter-spacing: 2px;
            background: $blue;
            padding: 8px 15px;
            color: $white;
            border-radius: 5px;
            margin-bottom: 0 !important;
        }
        .grey{
            font-weight: 300;
            color: $texte;
            letter-spacing: 2px;
            padding: 8px 15px;
            margin-bottom: 0 !important;
        }
        .grey.link{
            border: solid 1px #ddd;
            border-radius: 5px;
            transition: all 0.3s ease;
            &:hover{
                border-color: $blue;
                background: $blue;
                color: $white;
            }
        }
        .oublie{
            font-size: 12px;
            font-weight: 300;
            color: $grey;
            padding-top: 20px;
            display: block;
            &:hover{
                color: $blue;
            }
        }
        .bandeliens{
            margin-bottom: 40px;
        }

        .submit{
            position: relative;
            margin-top: 50px;
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}
.rgpd1{

    & > span > span{
        input[type="checkbox"]{
            margin-right: 15px;
            -webkit-appearance: none;
            background-color: white;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 8px;
            max-height: 12px;
            border-radius: 2px;
            display: inline-block;
            cursor: pointer;
            position: relative;

            &:checked{
                background-color: white;
                border: 1px solid #adb8c0;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                color: #99a1a7;

                &:after{
                    content: '\2714';
                    font-size: 14px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #2b4427;
                }
            }
        }
        span{
            text-align: left;
            display: block;
            color: #6e6e6e;
            font-family: 'Oswald', sans-serif;
            font-size: 0.75rem;
            letter-spacing: 1.5pt;
            line-height: 12pt;
        }

    }
}


@media screen and (max-width: 460px){
    .contenulogin{
        .formconnect{
            .bandeliens{
                .line{
                    display: none;
                }
                a{
                    margin-top: 15px;
                    margin-bottom: 15px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 530px){
    .contenucontact{
        .formulairecontact{
            .input{
                padding: 15px 25px;
            }
            .message, .check{
                padding: 10px 10px;
            }
            .checkmark {
                left: 10px;
            }
            .btnvalider{
                right: 30px;
            }
        }
    }
    .contenulogin{
        .formconnect{
            .bandeliens{
                .blue, .grey{
                    font-size: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    .contenucontact{
        .formulairecontact{
            padding-top: 0px;
        }
    }
}
@media screen and (min-width: 992px){
    .contenucontact{
        .infoscontact:after{
            content: "";
            border-right: solid 1px #ddd;
            display: block;
            height: 474px;
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    .contenulogin{
        padding-top: 100px;
        .illustration{
            order: 1;
            height: 400px;
        }
        .formconnect{
            order: 2;
            padding-left: 100px;
            padding-top: 0px;
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 10px;
                left: 30px;
                border-left: solid 1px #ddd;
                height: 100%;
            }
            .bandeliens{
                .blue, .grey{
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (min-width: 1300px){
    .contenulogin{
        .formconnect{
            .bandeliens{
                .blue, .grey{
                    font-size: 20px;
                }
            }
        }
    }
}