.page_date{

  .filtres{
    padding-top: 100px;
    padding-bottom: 0;
    @media (max-width: 991px) {
      padding-top: 250px;
    }
  }
  .datescles{
    padding-left: 15px;
    padding-right: 15px;
    .dates{
      padding-top: 40px;
      justify-content: flex-start !important;
    }
    .evenement{
      outline: solid 1px $greylight;
      outline-offset: -15px;
      padding: 15px;
      .dateevent{
        position: absolute;
        left: -10px;
        top: 25px;
        background: $blue;
        padding: 6px 30px;
        border-radius: 5px;
        font-weight: 700;
        letter-spacing: 4px;
      }
      .nomevent{
        font-size: 17px;
        font-weight: 600;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 2.5rem;
      }
      .lieuevent{
        font-size: 15px;
        font-weight: 800;
        margin-bottom: 2px;
        i{
          color: $grey;
          padding-right: 5px;
        }
      }
      .desc{
        margin-bottom: 5px;
        color: $texte;
      }
      a, .desc{
        font-family: 'CenturyGothic';
      }
      p, a{
        padding-left: 15px;
        i{
          font-size: 0.5em;
          margin-left: 3px;
        }
      }
      a{
        font-size: 15px;
        padding-bottom: 15px;
        display: inline-block;
      }
    }
    .illustration{
      height: 120px;
      background-position: center;
      background-size: cover;
    }
  }
}

