.btnretour, .btnsuivant{
  position: absolute;
  top: 570px;
  color: $grey;
  font-size: 10px;
  font-weight: 700;
  &:hover{
    color: $black;
    a{
      color: $black;
    }
  }
  a{
    color: $grey;
    padding-left: 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
}
.btnretour{
  left: 80px;
  @media (max-width: 500px)
  {
    display: none;
  }
}
.btnsuivant{
  right: 80px;
}
.btnimprimer{
  position: absolute;
  top: 650px;
  right: 80px;
  font-size: 14px;
  color: $black;
  transition: all 0.3s ease;
  cursor: pointer;
  @media (max-width: 767px){
    display: none !important;
  }
  i{
    background: $greyfiche;
    padding: 16px 16px;
    border-radius: 50px;
    font-size: 1.4em;
    transition: all 0.3s ease;
  }
  &:hover{
    color: $blue;
    i{
      background: $black;
      color: $white;
    }
  }
}

.ariane{
  border-bottom: solid 1px $grey;
  border-top: solid 1px $grey;
  width: 100%;
  margin-bottom: 50px;
  font-size: 11px;
  padding: 5px 0;
  padding-left: 115px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  letter-spacing: 1px;
  a{
    margin-right: 15px;
    font-family: 'CenturyGothic';
    color: $black;
    &:hover{
      color: $blue;
    }
  }
  span{
    padding-right: 10px;
  }
  i{
    margin-right: 15px;
    font-size: 0.8em;
  }
  p, span.breadcrumb_last{
    font-family: 'CenturyGothic';
    font-weight: 900;
    margin: 0 !important;
    &.breadcrumb_last{
      margin-left: 7px !important;
    }
  }
}

.btndownload{
  background: $blue;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 150px;
  transition: all 0.3s ease;
  &:hover{
    background: $black;
    color: $white;
  }
}

.topfiche{
  display: block;
  width: 65%;
  margin: 0 auto;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
  .bloctitre{
    background: $greyfiche;
    font-weight: 800;
    width: 85%;
    margin: 0 auto;
    min-height: 200px;
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    color: $black;
    h1{
      padding: 40px;
      padding-left: 50px;
      padding-bottom: 20px;
      font-size: 30px;
      font-weight: 800;
    }
    .paraf {
      font-size: 15px;
      padding: 0 50px;
      padding-bottom: 30px;
      font-weight: 400;
      letter-spacing: 1px;
      p{
        font-size: 15px;
        letter-spacing: 1px;
      }
    }
  }
  .btndownload{
    position: absolute;
    top: 175px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
.contenufiche{
  padding-top: 100px;
  width: 60%;
  @media (max-width: 650px)
  {
    width: 90%;
  }
  margin: 0 auto;
  h2{
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .textefiche{
    text-align: justify;
    font-weight: 300;
    font-size: 15px;
  }
}
.autresfiches{
  position: relative;
  padding-top: 50px;
  h3{
    padding-top: 50px;
  }
  .slider-fiches{
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
    .slide{
      height: 150px;
      max-width: 150px !important;
      background: $corail;
      border-radius: 5px;
      margin: 0 50px;
      transition: all 0.3s ease;
      p{
        font-size: 12px;
        font-weight: 900;
        margin-bottom: 0;
      }
      a{
        width: 100%;
        height: 100%;
      }
      &:hover{
        background: darken($corail, 10%);
      }
    }
  }
  .next, .prev{
    &:hover{
      color: $blue;
    }
  }
  .next{
    position: absolute;
    top: 75%;
    right: 170px;
    cursor: pointer;
    font-weight: 900;
  }
  .prev{
    position: absolute;
    top: 75%;
    left: 170px;
    cursor: pointer;
    font-weight: 900;
  }
}

.fiche-service{
  .cat{
    width: 145px;
    margin-left: 50px;
    margin-top: 50px;
  }
  h1{
    padding-top: 5px !important;
  }
  .btnimprimer{
    position: absolute;
    top: 800px;
    @media (max-width: 991px)
    {
      top: 850px;
    }
    @media (max-width: 680px)
    {
      display: none !important;
    }
  }
  .bloctitre{
    //min-height: 400px;
  }
}
.contenufiche-service{
  padding-top: 350px;
  @media (max-width: 450px){
    padding-top: 500px;
  }
  h2{
    font-size: 27px !important;
  }
  .bandeimage{
    padding: 15px 150px;
    padding-bottom: 60px;
    .image{
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      min-height: 150px;
      width: 20%;
      margin-right: 40px;
    }
    .textebande{
      width: 75%;
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 40px;
    }
  }
  .tableau{
    background: $pastel;
    padding: 40px 100px;
    max-width: 100%;
    box-sizing: border-box;
    table{
      width: 100%;
    }
    tr{
      border-bottom: solid 1px $grey;
    }
    tr:first-child{
      td{
        font-weight: 800;
      }
    }
    tr td{
      font-weight: 300;
      font-size: 14px;
      padding: 20px 10px;
      max-width: 450px;
    }
    i{
      background: $green;
      padding: 8px;
      color: $white;
      font-size: 0.7em;
      border-radius: 50px;
    }
  }
}
.bande-infos{
  padding: 50px 100px;
  line-height: 1.2;
  margin-right: 0 !important;
  .bold{
    font-weight: 700;
    margin-bottom: 10px !important;
  }
  h3{
    padding-bottom: 30px;
  }
  p{
    font-size: 15px;
  }
  .col-lg-4{
    font-weight: 300;
  }
  a:hover{
    color: $black;
  }
}

.contenu-aide-financiere{
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 80px;
  .accordeon{
    position: relative;
    background-color: $white;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    color: $blue;
    font-size: 18px;
    transition: 0.4s;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 35px;
    p{
      font-weight: 500;
    }
    &:after{
      font-family: 'icomoon';
      content: "\e916";
      position: absolute;
      right: 10px;
      top: 20%;
      color: $black;
    }
  }
  .panelaccordeon{
    background-color: $white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    .btnimprimer{
      position: initial;
      margin-left: 10px;
      p{
        margin-bottom: 0 !important;
        margin-left: 10px;
      }
      i{
        padding: 10px;
        font-size: 1em;
      }
    }
  }
  hr{
    margin: 0 !important;
  }
  .show{
    opacity: 1;
    max-height: 8000px;
  }
  .active{
    &:after{
      content: "\e913";
    }
  }
  .update{
    text-align: left;
    font-weight: 500;
    color: $grey;
    font-size: 12px;
    margin-bottom: 0 !important;
  }
  h2, h3, .h3{
    padding-top: 25px;
  }
  .bloctext{
    font-weight: 300;
    font-size: 15px;
    .italic{
      font-style: italic;
    }
    .blue{
      font-weight: 800;
      color: $blue;
    }
  }
  .tableau{
    table{
      width: 100%;background: $pastel;
    }
    tr{
      font-weight: 300;
      padding: 15px;
      border-bottom: solid 1px $grey;
    }
    tr:first-child{
      font-weight: 800;
    }
    tr:last-child{
      border-bottom: none;
    }
  }
  .blocliste{
    font-weight: 300;
    font-size: 15px;
    li{
      list-style: none;
      margin-left: 1.2em;
      &:before{
        color: $blue;
        content: "\2022";
        font-size: 2em;
        padding-right: 0.8em;
        margin-left: -1.2em;
        position: relative;
        top: 0.15em;
      }
    }
  }
}


@media screen and (max-width: 1200px){
  .topfiche{
    .bloctitre{
      h1{
        font-size: 1.5rem;
      }
      .paraf{
        font-size: 10px;
      }
    }
  }
  .contenufiche-service{
    .bandeimage{
      .image{
        margin-right: 20px;
      }
    }
  }
  .autresfiches{
    .slider-fiches{
      .slide{
        margin: 0 10px;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .btnretour, .btnsuivant{
    top: 720px;
  }
  .topfiche{
    width: 90%;
    .bloctitre{
      min-height: 280px;
    }
  }
  .fiche-pratique{
    .topfiche{
      .bloctitre{
        min-height: 200px;
      }
    }
  }
  .fiche-service{
    .btnimprimer{
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
  .autresfiches{
    .next{
      right: 50px;
    }
    .prev{
      left: 50px;
    }
  }
  .contenufiche-service{
    .bandeimage{
      .image{
        width: 100%;
        margin: 0;
      }
      .textebande{
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .bande-infos{
    .beneficiaires, .partner, .coordonnees{
      margin-bottom: 30px;
    }
  }
  .fiche-aide-financiere{
    .topfiche{
      .bloctitre{
        min-height: 200px;
      }
    }
    .btnimprimer{

    }
    .contenu-aide-financiere{
      width: 90%;
    }
  }
}
@media screen and (max-width: 767px){
  .btnretour, .btnsuivant{
    top: 760px;
  }
  .topfiche{
    width: 100%;
    .bloctitre{
      width: 90%;
      h1, .paraf{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .contenufiche h2{
    padding-top: 200px;
  }
  .contenufiche-service{
    .bandeimage{
      padding: 15px 50px;
      .image{
        min-height: 200px;
      }
    }
    .tableau{
      padding: 40px 20px;
      tr{
        border: none;
      }
      tr:first-child{
        text-align: center;
      }
      tr td{
        border-bottom: solid 1px $grey;
        min-width: 400px;
      }
    }
  }
}
@media screen and (max-width: 530px){
  .ariane{
    padding-left: 25px;
  }
  .btnretour{
    left: 30px;
  }
  .btnsuivant{
    right: 30px;
  }
  .contenufiche-service{
    .tableau{
      tr{
        td{
          padding-right: 3px;
          padding-left: 3px;
        }
      }
    }
  }
  .bande-infos{
    padding: 50px 30px;
  }
}