@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700,800,900&display=swap');


$global: 'Montserrat', sans-serif;

p, h1, h2, h3, h4, h5 ,h6, label, div, span, li, a{

  &h1,h2,h3{
    font-weight: 400;
  }
  font-family: $global;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/Century-Gothic.ttf');
}