header{
    .logo{
        position: absolute;
        top: 15px;
        left: 10px;
        z-index: 1;
    }
    .logo.index{
        top: 20px;
        left: 30px;
        img{
            width: 70%;
            height: auto;
        }
    }
    .menu{
        height: 100px;
        padding-right: 30px;
        font-weight: 700;
        font-size: 12px;
        a{
            color: $black;
            letter-spacing: 0.08em;
            transition: all 0.3s ease;
        }
        .recherche{
            display: none;
            .search{
                border: none;
                border-bottom: solid 1px $greylight;
                padding-bottom: 5px;
                visibility: hidden;
                transition: all 0.3s ease;
            }
            .display{
                visibility: visible;
            }
            .loupe-left{
                transform: translateX(-250px);
            }
            .loupe{
                cursor: pointer;
                transition: all 0.8s ease;
                font-size: 1.3em;
            }
        }
        .connect{
            padding: 5px 10px;
            position: relative;
            display: none;
            border: solid 2px $white;
            border-bottom: solid 2px $greylight;
            transition: border 0.3s ease;
            i{
                margin-left: 10px;
            }
            &:hover{
                border-bottom: solid 2px $blue;
            }
        }
        .hamburger{
            i{
                color: $blue;
                margin-left: 10px;
                padding-right: 10px;
            }
        }
        ul{
            height: 100%;
        }
        li{
            margin-left: 15px;
            list-style: none;
            &:hover{
                a, i{
                    color: $blue !important;
                }
            }
        }
    }
    .menu.index{
        height: 50px;
    }
}

.menu-mobile{
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 131, 183, 0.89);
    transition: all 0.8s ease;
    z-index: 99;
    padding-top: 50px;
    padding-left: 25px;
    .hamburger-close{
        position: absolute;
        top: 25px;
        right: 30px;
        font-size: 14px;
        cursor: pointer;
        font-weight: 700;
        transition: all 0.3s ease;
        i{
            font-size: 2em;
            margin-left: 15px;
        }
        &:hover{
            color: #041a49;
        }
    }
    ul{
        height: 90%;
    }
    li{
        list-style: none;
        margin: 0px 0;
    }
    a{
        font-weight: 800;
        font-size: 18px;
        color: $white;
        transition: all 0.3s ease;
        &:hover{
            color: #041a49 !important;
        }
    }
    .submenu{
        text-transform: initial;
        transform: translateX(1000px) ;
        position: absolute;
        transition: all 0.8s ease;
        top: 20%;
        z-index: 3;
        opacity: 0;
        a{
            font-size: 14px;
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            left: -60%;
            width: 150px;
            border-top: solid 1px $white;
            padding-top: 200px;
        }
    }
    .connexionmobile{
        position: absolute;
        top: 25px;
        left: 30px;
        text-transform: uppercase;
        a{
            font-size: 14px;
        }
    }
    .recherchemobile{
        position: absolute;
        bottom: 50px;
        .search{
            border: none;
            border-bottom: solid 1px $greylight;
            padding-bottom: 5px;
            visibility: hidden;
            transition: all 0.3s ease;
            background: transparent;
            margin-left: 10px;
        }
        .display{
            visibility: visible;
        }
        .loupe-left{
            transform: translateX(5px);
        }
        .loupe{
            cursor: pointer;
            transition: all 0.8s ease;
            font-size: 1.3em;
            margin-right: 20px;
            p{
                font-weight: 800;
                font-size: 14px;
            }
        }
    }
}
.open{
    top: 0;
}


footer{
    background: $black;
    padding: 60px 100px;
    padding-bottom: 20px;
    font-size: 13px;
    position: relative;
    z-index: 2;
    a{
        padding-left: 10px;
        margin: 5px 0;
        font-family: 'CenturyGothic';
        transition: color 0.3s ease;
        &:hover{
            color: $blue !important;
        }
    }

    .credits{
        padding-top: 40px;
        color: rgba(255,255,255,0.3);
        font-size: 11px;
        text-align: center;
        i:before{
            content: "";
            border-left: solid 1px rgba(255,255,255,0.3);
            margin: 0 15px;
            height: 10px;
        }
        a{
            padding: 0;
            color: rgba(255,255,255,0.3) !important;
            margin: 0;
            &:hover{
                color: $white !important;
            }
        }
    }
    .contactbottom{
        font-family: 'CenturyGothic';
        i{
            color: $black;
            background: rgba(255,255,255,0.7);
            border-radius: 50px;
            padding: 5px;
            transition: all 0.3s ease;
        }
        p{
            color: rgba(255,255,255,0.7);
        }
        .socialbottom{
            i:hover{
                background: $blue;
            }
        }
    }
    .teldiv{
        display: flex;
        align-items: center;
        font-weight: 700;
        margin-bottom: 25px;
        i{
            padding-left: 15px;
            padding-right: 10px;
            font-size: 0.9em;
            color: $white;
            background: none;
            border-radius: none;
            margin-top: 0;
        }
        p{
            margin: 0 !important;
        }
    }
    .titrebottom{
        font-weight: 700;
        font-size: 14px;
        color: $white !important;
    }
}

@media screen and (min-width: 380px){
    header{
        .logo.index{
            left: 55px;
        }
    }
}
@media screen and (min-width: 530px){
    footer{
        .credits{
            text-align: left;
        }
    }
}
@media screen and (min-width: 580px){
    header{
        .menu{
            .recherche, .connect{
                display: flex !important;
                align-items: center;
            }
        }
    }
    .menu-mobile{
        .recherchemobile, .connexionmobile{
            display: none !important;
        }
    }
}
@media screen and (max-width: 767px){
    .submenu{
        display: none;
    }
    .menu-mobile{

        ul{
            padding-left: 0;
        }
    }
    footer{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (min-width: 768px){
    header{
        .logo{
            left: 100px;
        }
        .logo.index{
            top: 30px;
            img{
                width: 100%;
            }
        }
        .menu.index{
            height: 80px;
        }
    }
    .sub{
        &:hover{
            .submenu{
                transform: translateX(500px);
                opacity: 1;
            }
        }
    }
}

@media screen and(max-width: 991px){
    header{
        .menu{
            .recherche{
                .loupe-left{
                    transform: translateX(-200px);
                }
            }
        }
        .submenu{
            top: 18.5% !important;
        }
        .menu-mobile{
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }
    .logofooter, .menubottom, .assistancebottom, .liensutiles, .contactbottom{
        text-align: center;
        .teldiv{
            justify-content: center;
        }
    }
    .titrebottom{
        margin-top: 25px;
        &:after{
            content: "";
            display: block;
            border-bottom: solid 1px $white;
            width: 80px;
            margin: 0 auto;
            padding-top: 8px;
        }
    }
}

@media screen and (min-width: 992px){
    header{
        .logo.index{
            left: 150px;
        }
        .menu{
            padding-right: 100px;
            font-size: 15px;
            li{
                margin-left: 80px;
            }
            .connect:after{
                width: 150px;
                padding-top: 4px;
            }
        }
    }
    .menu-mobile{
        padding-left: 20%;
        height: 75vh;
        a{
            font-size: 20px;
        }
        .hamburger-close{
            top: 25px;
            right: 100px;
        }
    }
    .menubottom, .assistancebottom, .liensutiles, .contactbottom{
        position: relative;
        &:before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            padding-right: 20px;
            border-left: solid 1px rgba(255, 255, 255, 0.3);
            height: 100%;
        }
    }
    .credits{
        width: 70%;
        margin: 0 auto !important;
    }
}