.entete{
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    height: 480px;
    margin: 0 30px;
    position: relative;
    overflow-x: hidden;
    h1, p{
        padding-left: 25px;
        z-index: 1;
    }
    h1{
        font-weight: 800;
        font-size: 25px;
        width: 50%;
        line-height: 1;
    }
    p{
        font-weight: 600;
        font-size: 20px;
        width: 80%;
        line-height: 1.1;
    }
    &:before{
        content: '';
        background: rgba(0,0,0,0.15);
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 150px;
        border-top-right-radius: 150px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.bandeau{
    padding: 0 30px;
    padding-top: 70px;
    .voirtout{
        font-weight: 300;
        font-size: 13px;
        color: $black;
        transition: all 0.3s ease;
        &:hover{
            color: $blue;
        }
    }
    .evenement, .article{
        padding-top: 10px;
    }
    a{
        color: $blue;
        margin-bottom: 10px;
        i{
            font-size: 0.5em;
            margin-left: 3px;
        }
    }
    .datescles{
        padding-left: 50px;
        .dates{
            padding-top: 40px;
        }
        .evenement{
            border: solid 1px $greylight;
            padding: 0;
            padding-bottom: 13px;
            margin: 0 auto;
            margin-top: 20px;
            .dateevent{
                position: absolute;
                left: -10px;
                top: 10px;
                background: $blue;
                padding: 6px 10px;
                border-radius: 5px;
                font-weight: 700;
                letter-spacing: 2px;
                font-size: 10px;
            }
            .nomevent{
                font-size: 17px;
                font-weight: 600;
                padding-top: 10px;
                padding-left: 10px;
                margin-bottom: 2.5rem;
            }
            .lieuevent{
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 2px;
                i{
                    color: $grey;
                    padding-right: 5px;
                }
            }
            .desc{
                margin-bottom: 5px;
                color: $texte;
            }
            a, .desc{
                font-family: 'CenturyGothic';
            }
            p, a{
                padding-left: 15px;
            }
            a{
                font-size: 15px;
            }
        }
        .illustration{
            height: 120px;
            background-position: center;
            background-size: cover;
        }
    }
}

.assistance{
    margin-top: 50px;
    padding: 75px 0;
    background: $pastel;
    h3:first-child{
        margin-bottom: 80px;
    }
    .lignesup, .ligneinf{
        padding: 0 30px;
    }
    .up{
        height: 350px;
        margin-top: 30px;
        &:hover{
            i{
                margin-top: 15px;
            }
        }
    }
    .down{
        height: 350px;
        margin-top: 30px;
        &:hover{
            i{
                margin-top: 20px;
            }
        }
    }

    .bloc{
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: thin solid white;
        h3, p, i{
            z-index: 1;
            position: relative;
        }
        h3, .categoriebloc{
            font-weight: 800;
            font-size: 27px;
            line-height: 1;
            transition: all 0.3s ease;
        }
        h3:after{
            border-bottom: none;
        }
        i{
            display: block;
            transition: all 0.3s ease;
            margin-bottom: 30px;
        }
        .textehover, .btnhover{
            z-index: 1;
            display: none;
            transition: all 0.3s ease;
            font-size: 15px;
        }
        .textehover{
            font-family: 'CenturyGothic';
            margin-bottom: 5px;
            max-width: 100%;
        }
        .btnhover{
            padding: 8px 50px;
            border: 2px solid $blue;
            border-radius: 60px;
            font-size: 13px;
            font-weight: 600;
            transition: all 0.3s ease;
            position: relative;
            z-index: 1;
            &:hover{
                color: $white;
                background: $blue;
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 0;
            transition: all 0.3s linear;
        }
        &:hover{
            .textehover, .btnhover{
                display: inline-block;
            }
            &:after{
                background: rgba(0,0,0,0.8);
            }
            h3, .categoriebloc{
                font-size: 20px;
            }
        }

        i{
            font-size: 7em;
        }

        &.amenagement{
            i{
                font-size: 4em;
            }
        }
        &.tourisme{
            i{
                font-size: 4em;
                margin-bottom: 2rem;
            }
        }

        &.bloc_4{
            i{
                font-size: 3em !important;
            }
        }
    }
}

.bandeaublanc{
    overflow-x: hidden;
    padding: 0 20px;
    padding-top: 75px;
    .illustr{
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        min-height: 150px;
    }
    .paraf{
        padding-top: 5px;
        padding-left: 40px;
        padding-bottom: 15px;
        font-family: 'CenturyGothic';
        a{
            font-weight: 600;
            font-size: 11px;
            padding: 8px 50px;
            border: 2px solid $blue;
            border-radius: 60px;
            color: $black;
            transition: all 0.3s ease;
            &:hover{
                color: $white;
                background: $blue;
            }
        }
        p{
            padding-bottom: 5px;
            color: $texte;
        }
    }
    .blocaide{
        padding-left: 50px;
        padding-top: 25px;
        .illustr{

        }
    }
    .blocdemat{
        padding-left: 50px;
        padding-top: 25px;
        .illustr{

        }
    }
}

.newsletter{
    background-image: url('../img/newsletter.jpg');
}
.bandeaide{
    background-image: url('../img/aidebande.jpg');
}
.newsletter, .bandeaide{
    background-position: center;
    background-size: cover;
    height: 170px;
    margin-top: 100px;
    position: relative;
    z-index: 2;
    p{
        font-family: 'CenturyGothic';
        font-size: 33px;
        line-height: 1.3;
        z-index: 1;
        span{
            font-weight: 500;
        }
    }
    .phrase{
        font-weight: 300;
        font-size: 15px;
        width: 350px;
        margin: 0 50px;
    }
    .link, button[type="submit"]{
        background-color: transparent;
        color: white;
        z-index: 1;
        padding: 8px 50px;
        border: 2px solid $blue;
        border-radius: 60px;
        font-size: 13px;
        font-weight: 600;
        margin-left: 40px;
        transition: all 0.3s ease;
        &:hover{
            color: $white;
            background: $blue;
        }
        i{
            margin-left: 10px;
        }
    }
    .line{
        content: "";
        display: block;
        border-right: solid 1px $white;
        height: 100px;
        padding-right: 70px;
    }
    .containinput{
        z-index: 1;
        position: relative;
    }
    .input{
        background: transparent;
        border: none;
        border-bottom: solid 1px $white;
        color: $white;
        width: 350px;
        @media (max-width: 767px)
        {
            width: 100% !important;
        }
        padding-top: 10px;
        font-family: 'CenturyGothic';
    }
    .label{
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 12px;
        transition: all 0.3s ease;
        font-family: 'CenturyGothic';

        &.active{
            top: 0;
            font-size: 10px;
        }
    }
    &:after{
        content: "";
        background: rgba(0,0,0,0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}


@media screen and (min-width: 530px){
    .bandeau{
        padding: 0 100px;
        padding-top: 70px;
    }
    .assistance{
        .lignesup, .ligneinf{
            padding: 0 100px;
        }
    }
    .bandeaublanc{
        padding: 0 100px;
        padding-top: 75px;
    }
}
@media screen and (min-width: 600px){
    .entete h1{
        font-size: 60px;
    }
}
@media screen and (min-width: 767px){
    .containinput{
        margin-left: 70px;
    }
}
@media screen and (max-width: 800px){
    .newsletter, .bandeaide{
        padding: 50px 25px;
        height: auto;
        text-align: center;
        button, a.link{
            margin-top: 20px;
            margin-left: 0;
        }
    }
}
@media screen and (min-width: 768px){
    .entete{
        height: 620px;
        p{
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 991px){
    .bandeau{
        .datescles{
            padding-left: 20px;
            h2{
                margin-top: 20px;
            }
            .evenement{
                .illustration{
                    margin-bottom: 20px;
                }
                padding-bottom: 20px;
            }
        }
    }
    .bandeaublanc{
        .demat{
            margin-top: 40px;
        }
        .blocdemat, .blocaide{
            padding-left: 0;
        }
    }
    .newsletter, .bandeaide{
        p{
            font-size: 25px;
            text-align: center;
        }
        .phrase{
            font-size: 12px;
            margin: 0 20px;
        }
        button, a.link{
            margin-left: 0;
            padding: 8px 20px;
        }
        .line{
            display: none;
        }
    }
}
@media screen and (min-width: 992px){
    .entete{
        margin: 0 100px;
        h1, p{
            padding-left: 100px;
        }
        p{
            width: 45%;
        }
        h1{
            font-size: 82px;
        }
    }
    .assistance{
        .col-xl-3{
            flex: 0 0 48% !important;
        }
        .up{
            margin-top: 0;
        }
        .down{
            height: 250px !important;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1449px){
    .assistance{
        .col-lg-4, .col-lg-7{
            flex: 0 0 48% !important;
            max-width: 50% !important;
        }
    }
}
@media screen and (max-width: 1050px){
    .newsletter, .bandeaide{
        .input{
            width: 200px;
        }

    }
}
@media screen and (min-width: 1200px){
    .bandeau{
        .datescles{
            .evenement{
                margin-top: 0;
            }
        }
    }
    .assistance{
        .up{
            padding: 0 100px;
        }
        .col-xl-3{
            flex: 0 0 48% !important;
            max-width: 50% !important;
        }
    }
}
@media screen and (min-width: 1450px){
    .assistance{
        .col-xl-3{
            flex: 0 0 23% !important;
        }
        .col-lg-4{
            flex: 0 0 39% !important;
            max-width: 40% !important;
        }
        .down{
            margin-top: 0;
        }
        .ligneinf{
            margin-top: 30px;
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    @media screen and (min-width: 992px){
        .assistance{
            .col-xl-3{
                flex: 0 0 46% !important;
            }
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1449px){
        .assistance{
            .col-lg-4, .col-lg-7{
                flex: 0 0 46% !important;
                max-width: 50% !important;
            }
        }
    }
    @media screen and (min-width: 1200px){
        .assistance{
            .col-xl-3{
                flex: 0 0 46% !important;
                max-width: 50% !important;
            }
            .up{
                padding: 0 15px;
            }
        }
    }
    @media screen and (min-width: 1450px){
        .assistance{
            .col-xl-3{
                flex: 0 0 22% !important;
            }
            .col-lg-4{
                flex: 0 0 38% !important;
                max-width: 40% !important;
            }
        }
    }
}