.liste-liens{
    width: 85%;
    margin: 0 auto;
    padding-top: 200px;
    .lien{
        margin: 15px 0;
        position: relative;
        .titrelien{
            letter-spacing: 3px;
            font-weight: 700;
            font-size: 20px;
        }
        .imagelien{
            border-radius: 5px;
            //background-image: url('../../IMG/service1.jpg');
            background-position: center;
            background-size: cover;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .desclien{
            letter-spacing: 1px;
            font-weight: 300;
            font-size: 14px;
            p{
                text-align: justify;
                margin-bottom: 30px !important;
            }
        }
        .lienplus{
            color: $blue;
            transition: all 0.2s ease;
            &:hover{
                color: $black;
            }
        }
        &:after{
            content: "";
            display: block;
            border-bottom: solid 1px $greylight;
            width: 60%;
            margin: 0 auto;
            padding-top: 25px;
        }
    }
}


@media screen and (min-width: 768px){
    .liste-liens{
        width: 60%;
        .lien{
            .desclien{
                padding-left: 15px;
            }
        }
        .imagelien{
            margin-bottom: 0;
        }
        .desclien{
            width: 85%;
        }
    }
}