@media print {

  //-webkit-print-color-adjust: exact;

  header, .ariane, footer, .topfiche .image, .btnretour, .btnsuivant, .btnimprimer, .menu-mobile, .bandeaide, .autresfiches, .btndownload{
    display: none !important;
  }

  .topfiche{

    background-image: none !important;
    width: 100% !important;
    min-height: 140px !important;

    h1{
      padding: 0 auto !important;
    }

    .paraf{
      display: none !important;
    }
  }

  .bloctitre{
    background-color: transparent !important;
    top: 0 !important;
  }

  .contenufiche-service{
    padding: 100px 25px !important;

    .bandeimage{
      padding: 15px 30px !important;
    }

    .textebande{
      width: 100% !important;
    }

    .image{
      display: none;
    }
    .tableau{
      padding-top: 0 !important;
    }
  }

  .bande-infos{
    padding-top: 0!important;

    p{
      text-align: center !important ;
    }
  }

  .contenufiche{
    padding-top: 0px !important;
  }

  .hide-print{
    display: none !important;
  }

  .contenu-aide-financiere{
    width: 95%;
    padding-top: 25px !important;
    hr{
      display: none;
    }
  }

  .contenu-aide-financiere .active:after{
    content: none;
  }

  .cms{

    h2, h3 {
      text-align: left !important;

      &:after{
        margin: 0 !important
      }
    }

    table {
      width: 100%;
      background-color: #f7f7f7 !important;
    }
  }
}

