body{
    margin: 0;
    position: relative;
    overflow-x: hidden;
    line-height: 1.4;
    color:$texte;
}

.containerrow{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.overflowscroll{
    overflow: scroll;
}
.upper{
    text-transform: uppercase;
}
.centeredtext{
    text-align: center;
}
.lefttext{
    text-align: left;
}
.righttext{
    text-align: right;
}
.hidden{
    visibility: hidden;
}
a{
    text-decoration: none;
    cursor: pointer;
    color:$texte;
    &:hover{
        text-decoration: none !important;
        color: $blue;
    }
}
.white{
    color: $white;
    a{
        color: $white !important;
    }
}

h2, h3, .title, .h3{
    font-size: 24px !important;
    span{
        font-weight: 900;
    }
    &:after{
        content: "";
        display: block;
        border-bottom: solid 1px $black;
        width: 110px;
        margin: 0 auto;
        padding-top: 15px;
    }
}
h2.home, h3.home, .title.home{
    font-size: 25px;
    span{
        font-weight: 800;
    }
    &:after{
        border-bottom: solid 2px $black;
    }
}

.blocnone{
    display: none;
}

.cat{
    padding: 8px 15px;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 5px;
    color: $black;
    transition: all 0.3s ease;
}
.cat-sol{
    background: #f5b1a8;
}
.cat-num{
    background: #9998c8;
}
.cat-clt{
    background: #e85c37;
}
.cat-env{
    background: #c8d22c;
}
.cat-ame{
    background: #75ccf2;
}
.cat-com{
    background: #abd19d;
}
.cat-pat{
    background: $beige;
}

.catentete{
    max-width: 145px;
    margin-left: 50px;
    margin-top: 50px;
}

.thinh1{
    padding-top: 5px !important;
}

.bolder{
    font-weight: 600;
}

@media screen and (max-width: 767px){
    .catentete{
        margin-left: 15px;
    }
}

.cms{

    p{
        font-weight: 300;
        font-size: 15px;
        text-align: left;
    }

    h2{
        font-size: 24px !important;
        font-weight: 900;
        text-transform: uppercase;
    }

    h3{
        padding-top: 25px;
        font-weight: 900;
        text-transform: uppercase;
    }

    table{
        width: 100%;background: $pastel;
    }
    tr{
        font-weight: 300;

        td{
            padding: 15px;
            text-align: left;
        }
        border-bottom: solid 1px $grey;
    }
    tr:first-child{
        font-weight: 700;
    }
    tr:last-child{
        border-bottom: none;
    }

    ul{
        font-weight: 300;
        font-size: 15px;
        text-align: left;
        li{
            list-style: none;
            margin-left: 1.2em;
            &:before{
                color: $blue;
                content: "\2022";
                font-size: 2em;
                padding-right: 0.8em;
                margin-left: -1.2em;
                position: relative;
                top: 0.15em;
            }
        }
    }
}

.rgpd input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.rgpd span.text-primary{
    color: $blue !important;

}

.rgpd div{
    position: relative;
    margin-top: 15px;
}

.rgpd .checkmark {
    position: absolute;
    top: 5px;
    left: 15px;
    height: 13px;
    width: 13px;
    background-color: white;
    cursor: pointer;
    border: thin solid #e6d4b9;
}
/* On mouse-over, add a grey background color */
.rgpd input[type="checkbox"] ~ .checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.rgpd input[type="checkbox"]:checked ~ .checkmark {
    background-color: $primary;
    opacity: 0.6;
    border: thin solid $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rgpd .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.rgpd input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.rgpd .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rgpd label{
    margin-left: 20px;
    color: white;
    margin-right: -15px;
    font-size: 13px;
   word-break: break-word;

    a{
        color: #c0aa88;
        font-weight: 600;

        &:hover{
            text-decoration: underline !important;
        }
    }
}