$white: #fff;
$black: #000;
$texte: #212529;
$blue: #00a6e9;
$orange: #e85c37;
$beige: #d5cab7;
$grey: #c4c4c4;
$greylight: #e1e1e1;
$greyfiche: #eeeeee;
$pastel: #f7f7f7;
$corail: #ff9e8e;
$green: #c1e936;