@import "libraries/bootstrap/bootstrap";
@import "libraries/aos/aos";
@import "libraries/slick/slick";
@import "libraries/icomoon/style";
@import 'fonts.scss';
@import 'variables.scss';
@import 'template.scss';
@import 'header-footer.scss';
@import 'home.scss';
@import 'fiche.scss';
@import 'assistance.scss';
@import 'actus.scss';
@import 'liens.scss';
@import 'contact.scss';
@import 'print.scss';
@import 'dates.scss';
@import '404.scss';


.my-pagination{
  margin-top: 30px;
  text-align: center;

  *{
    display: inline-block;
    margin: 0 3px;
  }

  a.page-numbers{
    color: $blue !important;
    transition: 0.3s;

    i.prev{
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }

    &:hover{
      color: $texte !important;
      transition: 0.3s;
    }
  }

  span{
    background-color: $blue;
    color: white !important;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 100%;
  }
}

#wpmem_pwdchange_form, #wpmem_pwdreset_form{

  .div_text{
    margin-bottom: 15px;
  }

  input:not([type="submit"]){
    width: 100%;
    padding: 13px 15px;
    background: #f7f7f7;
    border-radius: 5px;
    border: none;
  }

  input[type="submit"]{
    background: $black;
    padding: 12px 90px;
    margin-top: 15px;
    color: white;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover{
      background: $blue;
    }
  }

}

a.active{
  background-color: $blue !important;
  border-color:  $blue !important;
}

a{
  &:focus{
    outline: none !important;
  }
}

/**
Debug Overflow
 */
//* {
//  border: 1px solid #f00 !important;
//
//  &:before{
//    border: 1px solid #f00 !important;
//  }
//
//  &:after{
//    border: 1px solid #f00 !important;
//  }
//}